/*
    Created on : Sep 21, 2020, 1:24:04 PM
    Author     : simon
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #efefef;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

form {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
}

.form-group {
    margin: 1em;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-around;
    align-items: stretch;
}

label {
    font-size: 1.1em;
}

input, select {
    margin: 0px;
    padding: 0.2em;
    font-size: 1.1rem;
    text-align: center;
}

.list-container {
    margin: 2em;;
    padding: 1em;
    width: 60%;
    background-color: #ffffff;
    border-radius: 4px;
}

.list-container>p {
    margin: 1em;
    padding: 1.2em;
}

.list-container>p:nth-child(odd) {
    background-color: #cdcdcd;
}

button {
    margin: 0px;
    padding: 0.5em;
    background-color: #1212FF;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4545FF;
}

#file-form {
    min-width: 60%;
}

#xml-group {
    min-width: 80%;
}

#xml-input {
    min-width: 80%;
}